:root {
  --background-color: #ffffff;
  --darker-background-color: #adadad;
  --accent-color: #0400ff;
  --textcolor: #ffffff;
}

* {
  box-sizing: border-box;
  font-family: 'Poppins';
}

body {
  margin: 0;
}

/* all Text-elements */

h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.8rem;
}
h3 {
  font-size: 1.6rem;
}
h4 {
  font-size: 1.4rem;
}
h5 {
  font-size: 1.2rem;
}
h6 {
  font-size: 1rem;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #242424a8;
  padding: 10px 10%;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  box-shadow: 0px 5px 13px 2px #858282;
  top: 0;
  width: 100vw;
  position: fixed;
  z-index: 1;
}

.navbar-logo {
  cursor: pointer;
}

.navbar-items {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  list-style: none;
}

.navbar-items li a {
  color: #dddde0;
  text-decoration: none;
  transition: 0.7s ease;
}

.navbar-items li a:hover {
  color: #98989d;
}

/* main section */
.main {
  margin-top: 75px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

/* footer */

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  background-color: #13131a;
  color: #f5f5fa;
  padding: 1rem;
}

.sitemap {
  display: flex;
  justify-content: center;
  gap: 1rem;
  list-style: none;
}

.sitemap li a {
  color: #f5f5fa;
}

.sitemap li a:hover {
  color: #bcbcbc;
}

.social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

#footer-copyright p {
  font-size: 0.8rem;
  color: #dddde0;
}